# PostgreSQL connection string
DATABASE_URL="postgresql://neondb_owner:npg_6rCLRJKpm7Vi@ep-hidden-thunder-ato0788g.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require"

# Auth.js
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
